/* You can add global styles to this file, and also import other style files
*/

body {
  display: flex;
  justify-content: center;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  height: 100vh;

  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Baloo 2', cursive;
  margin-bottom: 12px;
  margin-top: 12px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}
.card {
  padding: 20px;
  max-width: 520px;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.margin-t-md {
  margin-top: 24px;
}
